




   <article class="type-system-slab">
      <header class="show-nav" role="banner">
         <div>  
            <p><%= link_to 'Back', url_for(:back) %></p>
         </div> 
         <div>  
            <a href="/welcome/auth_dash"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
         </div>  
         <div>  
            <p><a href="//www.profitbees.com" target="_blank">ProfitBees</a></p>
         </div> 
      </header>
   </article>

   <section class="layout-container">
      <article class="type-system-slab">
        <div class="nice-in-box-element">
             
            <h2>Sign up</h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>

        </div>
      </article>
    </section>