
<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Home', "/" %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_dash"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><a href="//www.profitbees.com" target="_blank">ProfitBees</a></p>
       </div> 
    </header>
</article>

<section class="layout-container">
  <article class="type-system-slab centered-transparent-container">
      <a class="lovely-link-button" href="<%= new_ledger_path %>" data-remote="true">New Bank Hive</a>
  </article>
  <br><br><br>
</section>

<section class="layout-container">
  <article class="type-system-slab">
  <!-- FONT ARTICLE WRAPPER -->
    <!-- microBooks DISPLAY -->
    <div class="hives-box nice-display">
      <div class="hb-container">
        <aside>
          <%= image_tag('pb-logo.png') %>
          <p>Cash Hives</p>
        </aside>
        <aside class="box-hover">
          <p><span><%= truncate("Honey Cash Hives", length: 40) %></span></p>
          <p class="date">Coming Soon</p>
          <p class="author">ProfitBees</p>
        </aside>
        <aside class="box-hover">
          <p><span><%= truncate("Honey Cash Hives", length: 40) %></span></p>
          <p class="date">Coming Soon</p>
          <p class="author">ProfitBees</p>
        </aside>
        <aside class="last-box">
            <a href="javascript:void(0)" class="lovely-link-button">View All</a>
        </aside>
      </div>
    </div>
  </article>
</section>

<section class="layout-container">
      <article class="type-system-slab">
      </article>
</section>


