
<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Home', "/" %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_dash"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><a href="//www.profitbees.com" target="_blank">ProfitBees</a></p>
       </div> 
    </header>
</article>

<section class="layout-container">
  <article class="type-system-slab">
  <!-- FONT ARTICLE WRAPPER -->
    <!-- microBooks DISPLAY -->
    <div class="hives-box nice-display">
      <div class="hb-container">
        <aside>
          <%= image_tag('pb-logo.png') %>
          <p>MicroBooks</p>
        </aside>
        <aside class="box-hover">
          <p><span><%= truncate("Honey Cash Hives", length: 40) %></span></p>
          <p class="date">Coming Soon</p>
          <p class="author">ProfitBees</p>
        </aside>
        <aside class="box-hover">
          <p><span><%= truncate("Honey Cash Hives", length: 40) %></span></p>
          <p class="date">Coming Soon</p>
          <p class="author">ProfitBees</p>
        </aside>
        <aside class="last-box">
            <a href="javascript:void(0)" class="lovely-link-button">View All</a>
        </aside>
      </div>
    </div>
  </article>
</section>

<section class="layout-container">
      <article class="type-system-slab">
            <div class="nice-in-box-element">

                 <br><br>
                 <h3> Start a new task </h3>
                 <br><br>

                 <div class="cards">
                      <div class="card">
                        <div class="card-image">
                          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
                        </div>
                        <div class="card-header">
                          First Card
                        </div>
                        <div class="card-copy">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-image">
                          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
                        </div>
                        <div class="card-header">
                          Another Card
                        </div>
                        <div class="card-copy">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-image">
                          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
                        </div>
                        <div class="card-header">
                          The Last Card
                        </div>
                        <div class="card-copy">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                      </div>
                  </div>
                  <!-- END OF CARDS -->
             </div>
             <!-- END OF NICE BOX ELEMENT -->
      </article>
</section>

<section class="layout-container">
      <article class="type-system-slab">
      </article>
</section>


