
<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Back', url_for(:back) %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_dash"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><a href="<%= ledgers_path %>">All hives</a></p>
       </div> 
    </header>
</article>

<section class="layout-container">
  <article class="type-system-slab centered-transparent-container">
      <h1>Reconcilation manager</h2>
  </article>
  <br><br><br>
</section>

<section id="updated-trns-container" class="layout-container" style="display:none;">
  <article class="type-system-slab">
      <h3>Updated transactions</h3>
      <div class="grid-items-lines">
      </div>
  </article>
  <br><br><br>
</section>

<section class="layout-container">
  <article class="type-system-slab">
        <div class="grid-items-lines">

          <% if @transactions.count > 0 %>
            <% @transactions.each do |transaction| %>
               <%= render partial: 'transactions/display_card', locals: { transaction: transaction } %>
            <% end %>
          <% else %>
              <a href="<%= import_trns_ledger_path(@ledger) %>" class="grid-item" data-remote="true">
                <h1><span style="color:#F9B233">
                  No transactions in cash hive</h1>
                <p style="font-size:90%;">Click to import CSV transactions from your bank account</p>
                <h4>ProfitBees</h4>
              </a>
          <% end %>
          <div class="right-cover"></div>
          <div class="bottom-cover"></div>
        </div>
  </article>
  <br><br><br>
</section>


