  <% reconciled = transaction.reconciled %>
  <% id = transaction.id %>
  <% if reconciled %>
      <a id="<%= id %>" href="<%= edit_transaction_path(id) %>" class="grid-item reconciled" data-remote="true">
  <% else %>
      <a id="<%= id %>" href="<%= edit_transaction_path(id) %>" class="grid-item" data-remote="true">
  <% end %>
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
        <h1><span style="color:#F9B233">
          <% if transaction.type == "Debit" %>
            <%= transaction.amount.to_f.round(2) %></span> | 
          <% else %>
            - <%= transaction.amount.to_f.round(2) %></span> | 
          <% end %>
          <%= transaction.tax.to_f.round(2) %></h1>
        <p style="font-size:90%;"><%= truncate(transaction.bank_description, length: 60) %></p>
        <h4><%= transaction.acc_date.strftime("%d/%m/%Y") %></h4>
      </a>
