
<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Back', url_for(:back) %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_dash"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><a href="/welcome/auth_dash">DashBoard</a></p>
       </div> 
    </header>
</article>

<section class="layout-container">
  <article class="type-system-slab centered-transparent-container">
      <h1>Trial Balances</h2>
  </article>
  <br><br><br>
</section>


<section class="layout-container">
      <article class="type-system-slab">

          <% if @data.empty? %>
               <div class="trial-balance-option">
                        <img data-tb-uuid="<% %>" src="<%= asset_path('pb-logo-2.png') %>" class="view-tb">
                        <h3>You have no TBs</h3>
                        <div class="dropdown">
                          <div class="dropdown-container">
                            <p class="dropdown-description">None</p>
                            <p class="dropdown-button">here</p>
                            <ul class="dropdown-menu dropdown-select">
                            </ul>
                          </div>
                        </div>
                </div>
          <% else %>
              <% @data.each do |group| %>

                  <div class="trial-balance-option">
                        <img data-tb-uuid="<%= group.first %>" src="<%= asset_path('pb-logo-2.png') %>" class="view-tb">
                        <h3>Attached cash hives</h3>
                        <% group.pop.each_with_index do |included_ledger, i| %>
                           <%= link_to "Cash-Hive #{i}", ledger_path(included_ledger.guid_ledger) %> | 
                        <% end %>
                        <div class="dropdown">
                          <div class="dropdown-container">
                            <p class="dropdown-description">Download</p>
                            <p class="dropdown-button">Click to Select</p>
                            <ul class="dropdown-menu dropdown-select">
                              <li>Trial Balance</li>
                              <li>General Ledger</li>
                            </ul>
                          </div>
                        </div>
                  </div>

              <% end %>
          <% end %>
          

      </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">
  </article>
  <br><br><br>
</section>


<script>
    
  $(document).ready(function() {
      
      $(".dropdown-button").click(function() {
        var $button, $menu;
        $button = $(this);
        $menu = $button.siblings(".dropdown-menu");
        $menu.toggleClass("show-menu");
        $menu.children("li").click(function() {
          $menu.removeClass("show-menu");
          $button.html($(this).html());
        });
      });
      $('.view-tb').on('click', function() {
        tb_ID = $(this).data('tb-uuid')
        url = window.location.href + "/view?tag=" + tb_ID
        window.location = url
      });

  });

</script>




